:root {
  background-color:whitesmoke;
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.primeracaja {
  height: 15vh;
  min-width: 90vw;
  background-color: #282B28;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
-moz-box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
border: 2px solid black;
}


.segundacaja {
  height: 15vh;
  min-width: 90vw;
  background-color: #282B28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
-moz-box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
box-shadow: 10px 0px 72px 0px rgba(0,0,0,1);
border:2px solid black;
}

.primera {
  margin: 1rem;
  margin: 0px;
}

select {
  width: 15vw;
  height: 4.5vh;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
}

option {
  text-align: center;
}

